interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-08-20T17:32:05Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-08-20T17:32:05Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "canadaeast"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2017-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/9e8fd0da-c157-4c6f-acde-939fef46ee17?api-version=2017-05-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/9e8fd0da-c157-4c6f-acde-939fef46ee17?api-version=2017-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"canadaeast","properties":{"accountEndpoint":"clibatch000002.canadaeast.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":100,"poolQuota":100,"activeJobAndJobScheduleQuota":300,"poolAllocationMode":"batchservice"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D606C2E4880442"']
      last-modified: ['Mon, 20 Aug 2018 17:32:24 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2017-05-01
  response:
    body: {string: '{"accountName":"clibatch000002","primary":"tf7G2RXu4DoatZqHumRn8uU28FfbKOYdZmYiaKIjOV4tsVIjveMsJi92+/K34CyF/sSrTk+4baVJf8qEckudHg==","secondary":"1aofx6BeqISOU/ufKd/xa5du9bYzPDNlvwE5igtyzCyYwJF/Mse6gjyfjzEB3+1JgU1P+zno8NdI8AxumaYDFA=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": "xplatJobForTaskTests", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:32:26 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.canadaeast.batch.azure.com/pools?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchh2oji5lmcqdowinv.canadaeast.batch.azure.com/pools/xplatJobForTaskTests']
      dataserviceversion: ['3.0']
      etag: ['0x8D606C2E612380F']
      last-modified: ['Mon, 20 Aug 2018 17:32:27 GMT']
      location: ['https://clibatch000002.canadaeast.batch.azure.com/pools/xplatJobForTaskTests']
    status: {code: 201, message: Created}
- request:
    body: '{"id": "cli-test-job-1", "constraints": {"maxTaskRetryCount": 5}, "jobManagerTask":
      {"id": "JobManager", "commandLine": "cmd /c set AZ_BATCH_TASK_ID", "environmentSettings":
      [{"name": "CLI_TEST_VAR", "value": "CLI_TEST_VAR_VALUE"}]}, "poolInfo": {"poolId":
      "xplatJobForTaskTests"}, "metadata": [{"name": "test", "value": "value"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:32:27 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchh2oji5lmcqdowinv.canadaeast.batch.azure.com/jobs/job-1']
      dataserviceversion: ['3.0']
      etag: ['0x8D606C2E68EE464']
      last-modified: ['Mon, 20 Aug 2018 17:32:28 GMT']
      location: ['https://clibatch000002.canadaeast.batch.azure.com/jobs/job-1']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:32:28 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadaeast.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"cli-test-job-1\",\"url\":\"https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1\",\"eTag\":\"0x8D606C2E68EE464\",\"lastModified\":\"2018-08-20T17:32:28.1050212Z\",\"creationTime\":\"2018-08-20T17:32:28.0563715Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-08-20T17:32:28.1050212Z\",\"priority\":0,\"usesTaskDependencies\":false,\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":5\r\n
        \ },\"jobManagerTask\":{\r\n    \"id\":\"JobManager\",\"commandLine\":\"cmd
        /c set AZ_BATCH_TASK_ID\",\"environmentSettings\":[\r\n      {\r\n        \"name\":\"CLI_TEST_VAR\",\"value\":\"CLI_TEST_VAR_VALUE\"\r\n
        \     }\r\n    ],\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":5\r\n
        \   },\"userIdentity\":{\r\n      \"autoUser\":{\r\n        \"elevationLevel\":\"nonadmin\"\r\n
        \     }\r\n    },\"runExclusive\":true,\"allowLowPriorityNode\":true,\"killJobOnCompletion\":true\r\n
        \ },\"poolInfo\":{\r\n    \"poolId\":\"xplatJobForTaskTests\"\r\n  },\"metadata\":[\r\n
        \   {\r\n      \"name\":\"test\",\"value\":\"value\"\r\n    }\r\n  ],\"executionInfo\":{\r\n
        \   \"startTime\":\"2018-08-20T17:32:28.1050212Z\",\"poolId\":\"xplatJobForTaskTests\"\r\n
        \ },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D606C2E68EE464']
      last-modified: ['Mon, 20 Aug 2018 17:32:28 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"poolInfo": {"poolId": "xplatJobForTaskTests"}, "onAllTasksComplete":
      "terminatejob"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      If-Unmodified-Since: ['Mon, 20 Aug 2018 10:32:27 GMT']
      ocp-date: ['Mon, 20 Aug 2018 17:32:30 GMT']
      return-client-request-id: ['false']
    method: PUT
    uri: https://clibatch000002.canadaeast.batch.azure.com/jobs/cli-test-job-1?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadaeast.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"ConditionNotMet\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The condition specified using HTTP conditional
        header(s) is not met.\\nRequestId:76275ed0-faf9-4b07-ab06-b418edc0f2d0\\nTime:2018-08-20T17:32:30.3914217Z\"\r\n
        \ }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 412, message: The condition specified using HTTP conditional header(s)
        is not met.}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkc1SjY1RUFQSTdHWVVFU0tXSEM3WURXUlY2RDJESUY3WjM3QnwwQUZDRjVGMjJDODIzNTkzLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
