interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-08-20T17:32:33Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-08-20T17:32:33Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "japanwest"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2017-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/c0e8552b-4e13-4163-bfdd-cfd0085382ca?api-version=2017-05-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/c0e8552b-4e13-4163-bfdd-cfd0085382ca?api-version=2017-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"japanwest","properties":{"accountEndpoint":"clibatch000002.japanwest.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":100,"poolQuota":100,"activeJobAndJobScheduleQuota":300,"poolAllocationMode":"batchservice"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D606C2F50D3DCA"']
      last-modified: ['Mon, 20 Aug 2018 17:32:52 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2017-05-01
  response:
    body: {string: '{"accountName":"clibatch000002","primary":"LensepA3MOfQeiCZDauVC9THzTo//7qmPwmIOI/Z3QprSnZgf34/GuY16oJU0bfVGPVtVnuseTtgtM5TZM27xA==","secondary":"a9Cb4yU5HnNVHQ2vjo5UFrdQO4KXdlZMaSPRUJTl0FHMoSFZDv2m3RpfPGHMv4Cj0bxNi4PPC2KjQonJoY9YSg=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": "xplatCreatedPool", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4", "targetOSVersion": "*"}, "startTask": {"commandLine": "cmd
      /c echo test", "userIdentity": {"autoUser": {"scope": "task", "elevationLevel":
      "admin"}}, "waitForSuccess": true}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:32:54 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchr7hyuh2z4dvmwmoc.japanwest.batch.azure.com/pools/xplatCreatedPool']
      dataserviceversion: ['3.0']
      etag: ['0x8D606C2F69F5505']
      last-modified: ['Mon, 20 Aug 2018 17:32:55 GMT']
      location: ['https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool']
    status: {code: 201, message: Created}
- request:
    body: '{"id": "pool_image1", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "a", "offer": "b", "sku": "c"}, "nodeAgentSKUId":
      "batch.node.windows amd64"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:32:55 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.japanwest.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidPropertyValue\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The value provided for one of the properties
        in the request body is invalid.\\nRequestId:a0c49572-b191-4000-a291-cb709071c65b\\nTime:2018-08-20T17:32:55.7352134Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"PropertyName\",\"value\":\"imageReference\"\r\n
        \   },{\r\n      \"key\":\"Reason\",\"value\":\"The specified imageReference
        with publisher a offer b sku c is not supported.\"\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 400, message: The value provided for one of the properties in the
        request body is invalid.}
- request:
    body: '{"id": "pool_image1", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"virtualMachineImageId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_rg/providers/Microsoft.Compute/images/custom_image"},
      "nodeAgentSKUId": "batch.node.windows amd64"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:32:56 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools?api-version=2018-03-01.6.1&timeout=30
  response:
    b[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:32:56 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.japanwest.batch.azure.com/$metadata#pools/@Element\",\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool\",\"eTag\":\"0x8D606C2F69F5505\",\"lastModified\":\"2018-08-20T17:32:55.0563077Z\",\"creationTime\":\"2018-08-20T17:32:55.0563077Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-08-20T17:32:55.0563077Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2018-08-20T17:32:55.1624459Z\",\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"autoUser\":{\r\n
        \       \"scope\":\"task\",\"elevationLevel\":\"admin\"\r\n      }\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n
        \ },\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n
        \ },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"4\",\"targetOSVersion\":\"*\",\"currentOSVersion\":\"*\"\r\n
        \ }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D606C2F69F5505']
      last-modified: ['Mon, 20 Aug 2018 17:32:55 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"targetDedicatedNodes": 5, "targetLowPriorityNodes": 3}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:32:57 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool/resize?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchr7hyuh2z4dvmwmoc.japanwest.batch.azure.com/pools/xplatCreatedPool/resize']
      dataserviceversion: ['3.0']
      etag: ['0x8D606C2F85313AE']
      last-modified: ['Mon, 20 Aug 2018 17:32:57 GMT']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:32:58 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.japanwest.batch.azure.com/nodecounts?api-version=2018-03-01.6.1&maxresults=10&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.japanwest.batch.azure.com/$metadata#poolnodecounts\",\"value\":[\r\n
        \   {\r\n      \"poolId\":\"xplatCreatedPool\",\"dedicated\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     },\"lowPriority\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:32:59 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool/stopresize?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchr7hyuh2z4dvmwmoc.japanwest.batch.azure.com/pools/xplatCreatedPool/stopresize']
      dataserviceversion: ['3.0']
      etag: ['0x8D606C2F9805CCE']
      last-modified: ['Mon, 20 Aug 2018 17:32:59 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:00 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.japanwest.batch.azure.com/$metadata#pools/@Element\",\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool\",\"eTag\":\"0x8D606C2F9805CCE\",\"lastModified\":\"2018-08-20T17:32:59.8865102Z\",\"creationTime\":\"2018-08-20T17:32:55.0563077Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-08-20T17:32:55.0563077Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2018-08-20T17:34:04.3031591Z\",\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":5,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":3,\"resizeErrors\":[\r\n
        \   {\r\n      \"code\":\"ResizeStopped\",\"message\":\"Desired number of
        dedicated nodes could not be allocated due to a stop resize operation\"\r\n
        \   },{\r\n      \"code\":\"ResizeStopped\",\"message\":\"Desired number of
        low priority nodes could not be allocated due to a stop resize operation\"\r\n
        \   }\r\n  ],\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"autoUser\":{\r\n
        \       \"scope\":\"task\",\"elevationLevel\":\"admin\"\r\n      }\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n
        \ },\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n
        \ },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"4\",\"targetOSVersion\":\"*\",\"currentOSVersion\":\"*\"\r\n
        \ }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D606C2F9805CCE']
      last-modified: ['Mon, 20 Aug 2018 17:32:59 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"startTask": {"commandLine": "cmd /c echo updated", "waitForSuccess":
      true}, "certificateReferences": [], "applicationPackageReferences": [], "metadata":
      []}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:00 GMT']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool/updateproperties?api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchr7hyuh2z4dvmwmoc.japanwest.batch.azure.com/pools/xplatCreatedPool/updateproperties']
      dataserviceversion: ['3.0']
      etag: ['0x8D606C341EB7506']
      last-modified: ['Mon, 20 Aug 2018 17:35:01 GMT']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:01 GMT']
    method: GET
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool?api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.japanwest.batch.azure.com/$metadata#pools/@Element\",\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.japanwest.batch.azure.com/pools/xpla[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdLSkJBNlVDRjZJUkc3Sk9DNkJPUlVRQ0dFRzNaUldYV0dJNnxEMDRDNUFCNjA0NEExQzQ4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14997']
    status: {code: 202, message: Accepted}
version: 1
