interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-08-20T17:35:05Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-08-20T17:35:05Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "koreacentral"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2017-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/5f0f8726-5243-444c-810b-66d1b05540e0?api-version=2017-05-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/5f0f8726-5243-444c-810b-66d1b05540e0?api-version=2017-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"koreacentral","properties":{"accountEndpoint":"clibatch000002.koreacentral.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":100,"poolQuota":100,"activeJobAndJobScheduleQuota":300,"poolAllocationMode":"batchservice"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D606C350984B9B"']
      last-modified: ['Mon, 20 Aug 2018 17:35:26 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2017-05-01
  response:
    body: {string: '{"accountName":"clibatch000002","primary":"QNkMYJRsSqqMsL+i43dkJbzIOV+3yCDRbauoNBOl+3hTV9MWOKUp5UECInuz2ptaMj8S5jWT1/Kvkv6rmAgpmg==","secondary":"Bypr+kFb1jwgMaO91eYm6n42LSyB3rP50Dj486gK+0LhOJucrgf2L8G+JmiUJwy4+elaEJ5moPHTtG+X8xGIvg=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": "azure-cli-test-paas", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:28 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchpwaqkclevjuhfqbw.koreacentral.batch.azure.com/pools/azure-cli-test-paas']
      dataserviceversion: ['3.0']
      etag: ['0x8D606C352A8EC19']
      last-modified: ['Mon, 20 Aug 2018 17:35:29 GMT']
      location: ['https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-paas']
    status: {code: 201, message: Created}
- request:
    body: '{"id": "azure-cli-test-iaas", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "16.04.0-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 16.04"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:29 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchpwaqkclevjuhfqbw.koreacentral.batch.azure.com/pools/azure-cli-test-iaas']
      dataserviceversion: ['3.0']
      etag: ['0x8D606C3531A55FC']
      last-modified: ['Mon, 20 Aug 2018 17:35:30 GMT']
      location: ['https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas']
    status: {code: 201, message: Created}
- request:
    body: '{"id": "azure-cli-test-json", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4", "targetOSVersion": "*"}, "resizeTimeout": "PT15M", "startTask":
      {"commandLine": "cmd /c echo test", "userIdentity": {"username": "cliTestUser"},
      "waitForSuccess": true}, "userAccounts": [{"name": "cliTestUser", "password":
      "SRYES@#%#_DSFH", "elevationLevel": "admin"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:31 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchpwaqkclevjuhfqbw.koreacentral.batch.azure.com/pools/azure-cli-test-json']
      dataserviceversion: ['3.0']
      etag: ['0x8D606C353EA56B0']
      last-modified: ['Mon, 20 Aug 2018 17:35:31 GMT']
      location: ['https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-json']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:31 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-json?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools/@Element\",\"id\":\"azure-cli-test-json\",\"url\":\"https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-json\",\"eTag\":\"0x8D606C353EA56B0\",\"lastModified\":\"2018-08-20T17:35:31.5759792Z\",\"creationTime\":\"2018-08-20T17:35:31.5759792Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-08-20T17:35:31.5759792Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2018-08-20T17:35:31.6730003Z\",\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"username\":\"cliTestUser\"\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  },\"userAccounts\":[\r\n
        \   {\r\n      \"name\":\"cliTestUser\",\"elevationLevel\":\"admin\"\r\n    }\r\n
        \ ],\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n
        \ },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"4\",\"targetOSVersion\":\"*\",\"currentOSVersion\":\"*\"\r\n
        \ }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D606C353EA56B0']
      last-modified: ['Mon, 20 Aug 2018 17:35:31 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:33 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools?api-version=2018-03-01.6.1&maxresults=1000&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\n      \"id\":\"azure-cli-test-iaas\",\"url\":\"https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas\",\"eTag\":\"0x8D606C3531A55FC\",\"lastModified\":\"2018-08-20T17:35:30.2128124Z\",\"creationTime\":\"2018-08-20T17:35:30.2128124Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-08-20T17:35:30.2128124Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2018-08-20T17:35:30.5038109Z\",\"vmSize\":\"standard_a1\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \       \"nodeFillType\":\"Spread\"\r\n      },\"virtualMachineConfiguration\":{\r\n
        \       \"imageReference\":{\r\n          \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04.0-LTS\",\"version\":\"latest\"\r\n
        \       },\"nodeAgentSKUId\":\"batch.node.ubuntu 16.04\"\r\n      }\r\n    },{\r\n
        \     \"id\":\"azure-cli-test-json\",\"url\":\"https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-json\",\"eTag\":\"0x8D606C353EA56B0\",\"lastModified\":\"2018-08-20T17:35:31.5759792Z\",\"creationTime\":\"2018-08-20T17:35:31.5759792Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-08-20T17:35:31.5759792Z\",\"allocationState\":\"steady\",\"allocationStateTr[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:34 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools?api-version=2018-03-01.6.1&$filter=id%20eq%20%27azure-cli-test-paas%27&maxresults=1000&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools\",\"va[...]
- request:
    body: '{"targetDedicatedNodes": 5}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:35 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-paas/resize?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchpwaqkclevjuhfqbw.koreacentral.batch.azure.com/pools/azure-cli-test-paas/resize']
      dataserviceversion: ['3.0']
      etag: ['0x8D606C356547F14']
      last-modified: ['Mon, 20 Aug 2018 17:35:35 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:35 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-paas?api-version=2018-03-01.6.1&$select=allocationState%2C%20targetDedicatedNodes&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools/@Element\",\"allocationState\":\"resizing\",\"targetDedicatedNodes\":5\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D606C356547F14']
      last-modified: ['Mon, 20 Aug 2018 17:35:35 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:36 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-paas/stopresize?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchpwaqkclevjuhfqbw.koreacentral.batch.azure.com/pools/azure-cli-test-paas/stopresize']
      dataserviceversion: ['3.0']
      etag: ['0x8D606C35749A75C']
      last-modified: ['Mon, 20 Aug 2018 17:35:37 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: '{"autoScaleFormula": "$TargetDedicatedNodes=3"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:37 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchpwaqkclevjuhfqbw.koreacentral.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale']
      dataserviceversion: ['3.0']
      etag: ['0x8D606C357B60BC2']
      last-modified: ['Mon, 20 Aug 2018 17:35:37 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:38 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas?api-version=2018-03-01.6.1&$select=enableAutoScale&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools/@Element\",\"enableAutoScale\":true\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D606C357B60BC2']
      last-modified: ['Mon, 20 Aug 2018 17:35:37 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"autoScaleFormula": "$TargetDedicatedNodes=3"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:38 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun\",\"timestamp\":\"2018-08-20T17:35:39.4341284Z\",\"results\":\"$TargetDedicatedNodes=3;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue\"\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceid: ['https://clibatchpwaqkclevjuhfqbw.koreacentral.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale']
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:39 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchpwaqkclevjuhfqbw.koreacentral.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale']
      dataserviceversion: ['3.0']
      etag: ['0x8D606C3590522FA']
      last-modified: ['Mon, 20 Aug 2018 17:35:40 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:41 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/poolusagemetrics?api-version=2018-03-01.6.1&maxresults=1000&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#poolusagemetrics\",\"value\":[\r\n
        \   \r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:42 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-json?api-version=2018-03-01.6.1&$select=startTask&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools/@Element\",\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"username\":\"cliTestUser\"\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D606C353EA56B0']
      last-modified: ['Mon, 20 Aug 2018 17:35:31 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:43 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-json?api-version=2018-03-01.6.1&$select=startTask&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools/@Element\",\"startTask\":{\r\n
        \   \"commandLine\":\"new_value\",\"userIdentity\":{\r\n      \"autoUser\":{\r\n
        \       \"elevationLevel\":\"nonadmin\"\r\n      }\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\":false\r\n
        \ }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D606C35AE2E613']
      last-modified: ['Mon, 20 Aug 2018 17:35:43 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:44 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/nodeagentskus?api-version=2018-03-01.6.1&maxresults=1000&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#nodeagentskus\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch.node.centos 7\",\"verifiedImageReferences\":[\r\n
        \       {\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS\",\"sku\":\"7.5\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS-HPC\",\"sku\":\"7.4\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS-HPC\",\"sku\":\"7.3\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS-HPC\",\"sku\":\"7.1\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"Oracle\",\"offer\":\"Oracle-Linux\",\"sku\":\"7.4\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"microsoft-ads\",\"offer\":\"linux-data-science-vm\",\"sku\":\"linuxdsvm\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"batch\",\"offer\":\"rendering-centos73\",\"sku\":\"rendering\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"microsoft-azure-batch\",\"offer\":\"centos-container\",\"sku\":\"7-5\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"microsoft-azure-batch\",\"offer\":\"centos-container-rdma\",\"sku\":\"7-4\",\"version\":\"latest\"\r\n
        \       }\r\n      ],\"osType\":\"linux\"\r\n    },{\r\n      \"id\":\"batch.node.debian
        8\",\"verifiedImageReferences\":[\r\n        {\r\n          \"publisher\":\"Credativ\",\"offer\":\"Debian\",\"sku\":\"8\",\"version\":\"latest\"\r\n
        \       }\r\n      ],\"osType\":\"linux\"\r\n    },{\r\n      \"id\":\"batch.node.debian
        9\",\"verifiedImageReferences\":[\r\n        {\r\n          \"publisher\":\"Credativ\",\"offer\":\"Debian\",\"sku\":\"9\",\"version\":\"latest\"\r\n
        \       }\r\n      ],\"o[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:45 GMT']
      return-client-request-id: ['false']
    method: DELETE
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceversion: ['3.0']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:45 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-iaas?api-version=2018-03-01.6.1&$select=state&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#pools/@Element\",\"state\":\"deleting\"\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D606C35C3E06A4']
      last-modified: ['Mon, 20 Aug 2018 17:35:45 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"id": "app_package_test", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}, "applicationPackageReferences": [{"applicationId": "does-not-exist"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:46 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidApplicationPackageReferences\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"One or more of the specified application
        package references are invalid.\\nRequestId:fa4d10f3-1382-4c0c-8ac1-df94c8011eeb\\nTime:2018-08-20T17:35:47.1418992Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"does-not-exist\",\"value\":\"The
        specified application package does not exist.\"\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 409, message: One or more of the specified application package
        references are invalid.}
- request:
    body: '{"applicationPackageReferences": [{"applicationId": "does-not-exist"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:35:47 GMT']
      return-client-request-id: ['false']
    method: PATCH
    uri: https://clibatch000002.koreacentral.batch.azure.com/pools/azure-cli-test-paas?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.koreacentral.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidApplicationPackageReferences\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"One or more of the specified application
        package references are invalid.\\nRequestId:7a955c11-23c6-4944-a034-63b162a10287\\nTime:2018-08-20T17:35:48.0217230Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"does-not-exist\",\"value\":\"The
        specified application package does not exist.\"\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 409, message: One or more of the specified application package
        references are invalid.}
[...]
