interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-08-20T17:31:40Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-08-20T17:31:40Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2017-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/cce8e8fb-c048-4844-90f4-7d1ae7ceb72e?api-version=2017-05-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/cce8e8fb-c048-4844-90f4-7d1ae7ceb72e?api-version=2017-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"eastus","properties":{"accountEndpoint":"clibatch000002.eastus.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":100,"poolQuota":100,"activeJobAndJobScheduleQuota":300,"poolAllocationMode":"batchservice"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D606C2D4C040AC"']
      last-modified: ['Mon, 20 Aug 2018 17:31:58 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2017-05-01
  response:
    body: {string: '{"accountName":"clibatch000002","primary":"zfV67tO8zY+RefkUUVqMtONVdhfotOXrC8W+5UNgpnPXObRQJcvXnnaSpxmSp1+vOmJh9B/nQk0lhBttkvSabQ==","secondary":"/p36Jze1SxXOC3Fs/v6kMchgVo3w3c1z/T5uLVQNMtuWWcc4yO47ety08SUtc0f0xRUVEMBFgjRpStExKFp6LA=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": "xplatJobScheduleJobTests", "displayName": "displayName", "schedule":
      {"recurrenceInterval": "P2D"}, "jobSpecification": {"priority": 1, "displayName":
      "jobSpecDisplayName", "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      5}, "jobManagerTask": {"id": "jobManager", "displayName": "jobManagerDisplay",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"blobSource": "https://testacct.blob.core.windows.net/",
      "filePath": "filePath"}], "environmentSettings": [{"name": "name1", "value":
      "value1"}, {"name": "name2", "value": "value2"}], "constraints": {"maxWallClockTime":
      "PT1H"}, "killJobOnCompletion": false}, "jobPreparationTask": {"id": "jobPrep",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"blobSource": "https://testacct.blob.core.windows.net/",
      "filePath": "jobPrepFilePath"}], "environmentSettings": [{"name": "jobPrepName1",
      "value": "jobPrepValue1"}, {"name": "jobPrepName2", "value": "jobPrepValue2"}],
      "constraints": {"maxTaskRetryCount": 2}}, "jobReleaseTask": {"id": "jobRelease",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"blobSource": "https://testacct.blob.core.windows.net/",
      "filePath": "jobReleaseFilePath"}], "environmentSettings": [{"name": "jobReleaseName1",
      "value": "jobReleaseValue1"}, {"name": "jobReleaseName2", "value": "jobReleaseValue2"}]},
      "commonEnvironmentSettings": [{"name": "commonName1", "value": "commonValue1"},
      {"name": "commonName2", "value": "commonValue2"}], "poolInfo": {"autoPoolSpecification":
      {"autoPoolIdPrefix": "TestSpecPrefix", "poolLifetimeOption": "jobschedule",
      "keepAlive": false, "pool": {"vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4", "targetOSVersion": "*"}, "startTask": {"commandLine": "cmd
      /c dir /s"}, "certificateReferences": [{"thumbprint": "0123456789ABCDEF", "thumbprintAlgorithm":
      "sha1", "storeLocation": "localmachine", "storeName": "certStore", "visibility":
      ["starttask"]}]}}}, "metadata": [{"name": "specMeta1", "value": "specMetaValue1"},
      {"name": "specMeta2", "value": "specMetaValue2"}]}, "metadata": [{"name": "meta2",
      "value": "value2"}, {"name": "meta1", "value": "value1"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:32:00 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.eastus.batch.azure.com/jobschedules?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchpvg3k774akky4rmv.eastus.batch.azure.com/jobschedules/xplatJobScheduleJobTests']
      dataserviceversion: ['3.0']
      etag: ['0x8D606C2D62AD479']
      last-modified: ['Mon, 20 Aug 2018 17:32:00 GMT']
      location: ['https://clibatch000002.eastus.batch.azure.com/jobschedules/xplatJobScheduleJobTests']
    status: {code: 201, message: Created}
- request:
    body: '{"id": "xplatJob", "displayName": "displayName", "priority": 1, "constraints":
      {"maxWallClockTime": "P1D", "maxTaskRetryCount": 5}, "jobManagerTask": {"id":
      "jobManager", "displayName": "jobManagerDisplay", "commandLine": "cmd /c dir
      /s", "resourceFiles": [{"blobSource": "https://testacct.blob.core.windows.net/",
      "filePath": "filePath"}], "environmentSettings": [{"name": "name1", "value":
      "value1"}, {"name": "name2", "value": "value2"}], "constraints": {"maxWallClockTime":
      "PT1H"}, "killJobOnCompletion": false}, "jobPreparationTask": {"id": "jobPrep",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"blobSource": "https://testacct.blob.core.windows.net/",
      "filePath": "jobPrepFilePath"}], "environmentSettings": [{"name": "jobPrepName1",
      "value": "jobPrepValue1"}, {"name": "jobPrepName2", "value": "jobPrepValue2"}],
      "constraints": {"maxTaskRetryCount": 2}}, "jobReleaseTask": {"id": "jobRelease",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"blobSource": "https://testacct.blob.core.windows.net/",
      "filePath": "jobReleaseFilePath"}], "environmentSettings": [{"name": "jobReleaseName1",
      "value": "jobReleaseValue1"}, {"name": "jobReleaseName2", "value": "jobReleaseValue2"}]},
      "commonEnvironmentSettings": [{"name": "commonName1", "value": "commonValue1"},
      {"name": "commonName2", "value": "commonValue2"}], "poolInfo": {"poolId": "xplatTestPool"},
      "metadata": [{"name": "specMeta1", "value": "specMetaValue1"}, {"name": "specMeta2",
      "value": "specMetaValue2"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:32:00 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.eastus.batch.azure.com/jobs?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchpvg3k774akky4rmv.eastus.batch.azure.com/jobs/job-1']
      dataserviceversion: ['3.0']
      etag: ['0x8D606C2D69BC02E']
      last-modified: ['Mon, 20 Aug 2018 17:32:01 GMT']
      location: ['https://clibatch000002.eastus.batch.azure.com/jobs/job-1']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:32:01 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.eastus.batch.azure.com/jobschedules/xplatJobScheduleJobTests/jobs?api-version=2018-03-01.6.1&maxresults=1000&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n
        \   {\r\n      \"id\":\"xplatJobScheduleJobTests:job-1\",\"displayName\":\"jobSpecDisplayName\",\"url\":\"https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobScheduleJobTests:job-1\",\"eTag\":\"0x8D606C2D65AA57A\",\"lastModified\":\"2018-08-20T17:32:00.9190778Z\",\"creationTime\":\"2018-08-20T17:32:00.7195884Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2018-08-20T17:32:01.13579Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2018-08-20T17:32:00.9190778Z\",\"priority\":1,\"usesTaskDependencies\":false,\"constraints\":{\r\n
        \       \"maxWallClockTime\":\"P1D\",\"maxTaskRetryCount\":5\r\n      },\"jobManagerTask\":{\r\n
        \       \"id\":\"jobManager\",\"displayName\":\"jobManagerDisplay\",\"commandLine\":\"cmd
        /c dir /s\",\"resourceFiles\":[\r\n          {\r\n            \"blobSource\":\"https://testacct.blob.core.windows.net/\",\"filePath\":\"filePath\"\r\n
        \         }\r\n        ],\"environmentSettings\":[\r\n          {\r\n            \"name\":\"name1\",\"value\":\"value1\"\r\n
        \         },{\r\n            \"name\":\"name2\",\"value\":\"value2\"\r\n          }\r\n
        \       ],\"constraints\":{\r\n          \"maxWallClockTime\":\"PT1H\",\"retentionTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":5\r\n
        \       },\"userIdentity\":{\r\n          \"autoUser\":{\r\n            \"elevationLevel\":\"nonadmin\"\r\n
        \         }\r\n        },\"runExclusive\":true,\"allowLowPriorityNode\":true,\"killJobOnCompletion\":false\r\n
        \     },\"jobPreparationTask\":{\r\n        \"id\":\"jobPrep\",\"commandLine\":\"cmd
        /c dir /s\",\"resourceFiles\":[\r\n          {\r\n            \"blobSource\":\"https://testacct.blob.core.windows.net/\",\"filePath\":\"jobPrepFilePath\"\r\n
        \         }\r\n        ],\"environmentSettings\":[\r\n          {\r\n            \"name\":\"jobPrepName1\",\"value\":\"jobPrepValue1\"\r\n
        \         },{\r\n            \"name\":\"jobPrepName2\",\"value\":\"jobPrepValue2\"\r\n
        \         }\r\n        ],\"constraints\":{\r\n          \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":2\r\n
        \       },\"userIdentity\":{\r\n          \"autoUser\":{\r\n            \"elevationLevel\":\"nonadmin\"\r\n
        \         }\r\n        },\"waitForSuccess\":true,\"rerunOnNodeRebootAfterSuccess\":true\r\n
        \     },\"jobReleaseTask\":{\r\n        \"id\":\"jobRelease\",\"commandLine\":\"cmd
        /c dir /s\",\"resourceFiles\":[\r\n          {\r\n            \"blobSource\":\"https://testacct.blob.core.windows.net/\",\"filePath\":\"jobReleaseFilePath\"\r\n
        \         }\r\n        ],\"environmentSettings\":[\r\n          {\r\n            \"name\":\"jobReleaseName1\",\"value\":\"jobReleaseValue1\"\r\n
        \         },{\r\n            \"name\":\"jobReleaseName2\",\"value\":\"jobReleaseValue2\"\r\n
        \         }\r\n        ],\"maxWallClockTime\":\"PT15M\",\"retentionTime\":\"P10675199DT2H48M5.4775807S\",\"userIdentity\":{\r\n
        \         \"autoUser\":{\r\n            \"elevationLevel\":\"nonadmin\"\r\n
        \         }\r\n        }\r\n      },\"commonEnvironmentSettings\":[\r\n        {\r\n
        \         \"name\":\"commonName1\",\"value\":\"commonValue1\"\r\n        },{\r\n
        \         \"name\":\"commonName2\",\"value\":\"commonValue2\"\r\n        }\r\n
        \     ],\"poolInfo\":{\r\n        \"autoPoolSpecification\":{\r\n          \"autoPoolIdPrefix\":\"TestSpecPrefix\",\"poolLifetimeOption\":\"jobschedule\",\"keepAlive\":false,\"pool\":{\r\n
        \           \"vmSize\":\"small\",\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \             \"nodeFillType\":\"Spread\"\r\n            },\"resizeTimeout\":\"PT15M\",\"targetDedicatedNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n
        \             \"commandLine\":\"cmd /c dir /s\",\"userIdentity\":{\r\n                \"autoUser\":{\r\n
        \                 \"elevationLevel\":\"nonadmin\"\r\n                }\r\n
        \             },\"maxTaskRetryCount\":0,\"waitForSuccess\":false\r\n            },\"certificateReferences\":[\r\n
        \             {\r\n                \"thumbprint\":\"0123456789abcdef\",\"thumbprintAlgorithm\":\"sha1\",\"storeLocation\":\"LocalMachine\",\"storeName\":\"certStore\",\"visibility\":[\r\n
        \                 \"starttask\"\r\n                ]\r\n              }\r\n
        \           ],\"cloudServiceConfiguration\":{\r\n              \"osFamily\":\"4\",\"targetOSVersion\":\"*\"\r\n
        \           }\r\n          }\r\n        }\r\n      },\"metadata\":[\r\n        {\r\n
        \         \"name\":\"specMeta1\",\"value\":\"specMetaValue1\"\r\n        },{\r\n
        \         \"name\":\"specMeta2\",\"value\":\"specMetaValue2\"\r\n        }\r\n
        \     ],\"executionInfo\":{\r\n        \"startTime\":\"2018-08-20T17:32:00.9190778Z\",\"endTime\":\"2018-08-20T17:32:01.13579Z\",\"poolId\":\"TestSpecPrefix_102BF35C-070C-4665-9283-19AFADB8F5FF\",\"schedulingError\":{\r\n
        \         \"category\":\"UserError\",\"code\":\"InvalidCertificatesInAutoPool\",\"message\":\"One
        or more certificates specified for the pool are invalid\",\"details\":[\r\n
        \           {\r\n              \"name\":\"sha1-0123456789abcdef\",\"value\":\"The
        specified certificate does not exist.\"\r\n            }\r\n          ]\r\n
        \       }\r\n      },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n
        \   }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:32:02 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.eastus.batch.azure.com/jobs?api-version=2018-03-01.6.1&maxresults=1000&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n
        \   {\r\n      \"id\":\"xplatJob\",\"d[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:32:02 GMT']
      return-client-request-id: ['false']
    method: DELETE
    uri: https://clibatch000002.eastus.batch.azure.com/jobs/xplatJob?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceversion: ['3.0']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:32:04 GMT']
      return-client-request-id: ['false']
    method: DELETE
    uri: https://clibatch000002.eastus.batch.azure.com/jobschedules/xplatJobScheduleJobTests?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceversion: ['3.0']
    status: {code: 202, message: Accepted}
version: 1
