interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-08-20T17:35:49Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-08-20T17:35:49Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "canadacentral"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2017-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/f4de9dbe-1aec-4829-886d-872f53c49302?api-version=2017-05-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/f4de9dbe-1aec-4829-886d-872f53c49302?api-version=2017-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"canadacentral","properties":{"accountEndpoint":"clibatch000002.canadacentral.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":100,"poolQuota":100,"activeJobAndJobScheduleQuota":300,"poolAllocationMode":"batchservice"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D606C36A1AA2D0"']
      last-modified: ['Mon, 20 Aug 2018 17:36:08 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2017-05-01
  response:
    body: {string: '{"accountName":"clibatch000002","primary":"ReXYdn1ag9hdokQ6+AR0gwcvE+9G61qELYNy4XgAyqrnogxGG8jel/g9Mhem4cX/b42Ky5XgTUaE9/imbLIFvA==","secondary":"1a3+2OGkACdF4jMrSaTQf8f4bvYDWPm3WJsf9gPTGPZ2RtKwQrRBroa53tgbiFrf65PXbWVFxQ0fBpyiCR06YA=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": "xplatJobForTaskTests", "displayName": "displayName", "priority":
      1, "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount": 5}, "commonEnvironmentSettings":
      [{"name": "commonName1", "value": "commonValue1"}, {"name": "commonName2", "value":
      "commonValue2"}], "poolInfo": {"poolId": "xplatTestPool"}, "metadata": [{"name":
      "specMeta1", "value": "specMetaValue1"}, {"name": "specMeta2", "value": "specMetaValue2"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:36:10 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchpm4lk52qg4ui5wck.canadacentral.batch.azure.com/jobs/job-1']
      dataserviceversion: ['3.0']
      etag: ['0x8D606C36B68F43C']
      last-modified: ['Mon, 20 Aug 2018 17:36:10 GMT']
      location: ['https://clibatch000002.canadacentral.batch.azure.com/jobs/job-1']
    status: {code: 201, message: Created}
- request:
    body: '{"id": "xplatTask", "displayName": "displayName", "commandLine": "cmd /c
      dir /s", "environmentSettings": [{"name": "env1", "value": "value1"}, {"name":
      "env2", "value": "value2"}], "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}, "userIdentity": {"autoUser": {"scope": "pool", "elevationLevel": "nonadmin"}},
      "multiInstanceSettings": {"numberOfInstances": 3, "coordinationCommandLine":
      "cmd /c echo hello"}, "authenticationTokenSettings": {"access": ["job"]}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:36:11 GMT']
    method: POST
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks?api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchpm4lk52qg4ui5wck.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask']
      dataserviceversion: ['3.0']
      etag: ['0x8D606C36BB6BAB5']
      last-modified: ['Mon, 20 Aug 2018 17:36:11 GMT']
      location: ['https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:36:11 GMT']
    method: GET
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask?api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"xplatTask\",\"displayName\":\"displayName\",\"url\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask\",\"eTag\":\"0x8D606C36BB6BAB5\",\"creationTime\":\"2018-08-20T17:36:11.5030709Z\",\"lastModified\":\"2018-08-20T17:36:11.5030709Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-08-20T17:36:11.5030709Z\",\"commandLine\":\"cmd
        /c dir /s\",\"environmentSettings\":[\r\n    {\r\n      \"name\":\"env1\",\"value\":\"value1\"\r\n
        \   },{\r\n      \"name\":\"env2\",\"value\":\"value2\"\r\n    }\r\n  ],\"userIdentity\":{\r\n
        \   \"autoUser\":{\r\n      \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \   }\r\n  },\"multiInstanceSettings\":{\r\n    \"numberOfInstances\":3,\"coordinationCommandLine\":\"cmd
        /c echo hello\"\r\n  },\"authenticationTokenSettings\":{\r\n    \"access\":[\r\n
        \     \"job\"\r\n    ]\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P1D\",\"retentionTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":2\r\n
        \ },\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D606C36BB6BAB5']
      last-modified: ['Mon, 20 Aug 2018 17:36:11 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:36:12 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"xplatTas[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:36:13 GMT']
    method: GET
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/aaa?api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"aaa\",\"url\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/aaa\",\"eTag\":\"0x8D606C36CF7F638\",\"creationTime\":\"2018-08-20T17:36:13.6083Z\",\"lastModified\":\"2018-08-20T17:36:13.6083Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-08-20T17:36:13.6083Z\",\"commandLine\":\"ping
        127.0.0.1 -n 30\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n      \"elevationLevel\":\"nonadmin\"\r\n
        \   }\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":5\r\n
        \ },\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D606C36CF7F638']
      last-modified: ['Mon, 20 Aug 2018 17:36:13 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:36:24 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/taskcounts?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#taskcounts/@Element\",\"active\":1,\"running\":0,\"completed\":0,\"succeeded\":0,\"failed\":0,\"validationStatus\":\"Validated\"\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:36:24 GMT']
      return-client-request-id: ['false']
    method: DELETE
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/aaa?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: '{"value": [{"id": "xplatTask1", "displayName": "displayName", "commandLine":
      "cmd /c dir /s", "environmentSettings": [{"name": "env1", "value": "value1"},
      {"name": "env2", "value": "value2"}], "constraints": {"maxWallClockTime": "P1D",
      "maxTaskRetryCount": 2}}, {"id": "xplatTask2", "displayName": "displayName1",
      "commandLine": "cmd /c dir /s", "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}}, {"id": "xplatTask3", "displayName": "displayName2", "commandLine": "cmd
      /c dir /s", "environmentSettings": [{"name": "env1", "value": "value1"}, {"name":
      "env2", "value": "value2"}]}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:36:25 GMT']
    method: POST
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/addtaskcollection?api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#taskaddresult\",\"value\":[\r\n
        \   {\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask1\",\"eTag\":\"0x8D606C37434FBA2\",\"lastModified\":\"2018-08-20T17:36:25.7522594Z\",\"location\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask1\"\r\n
        \   },{\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask3\",\"eTag\":\"0x8D606C37437226D\",\"lastModified\":\"2018-08-20T17:36:25.7663597Z\",\"location\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask3\"\r\n
        \   },{\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask2\",\"eTag\":\"0x8D606C3743A3430\",\"lastModified\":\"2018-08-20T17:36:25.7864752Z\",\"location\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask2\"\r\n
        \   }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Mon, 20 Aug 2018 17:36:27 GMT']
      return-client-request-id: ['false']
    method: DELETE
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests?api-version=2018-03-01.6.1&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceversion: ['3.0']
    status: {code: 202, message: Accepted}
version: 1
